body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    font-weight: bold;
  }
  
  select {
    padding: 5px;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    background-color: #f4f4f4;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  